<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goval Docs</title>

		<!-- Furret.css Stylesheets -->
		<link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
			/>
		<link
			href="/dark.min.css"
			rel="stylesheet"
			type="text/css"
			/>

		<link href="/style.css" rel="stylesheet" type="text/css" />
		<style>
			body {
				display: flex;
				align-content: center;
				justify-content: center;
				flex-wrap: wrap;
				height: 100%;
				width: 100%;
				margin: 0 auto;
			}

			h1 {
				width: fit-content;
			}

			p {
				flex-basis: 100%;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<h1>404</h1>
		<p>
			Oops, you're in the wrong place &#128517;. Time to head back
			<a href="/">home</a>?
		</p>
	</body>
</html>
