<h1>Protobuf</h1>
<p>This is a more up-to-date version of goval's protobuf, if you would like it
    to be updated dm <a
        href="https://discord.com/users/975920435432661052">PotentialStyx#2158</a>
    on discord.
    <br>
    <a download="true" href="/public/api.proto">Download</a>
</p>

<pre><code class="language-protobuf"><%- protobuf %></code></pre>