<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goval Service Docs</title>

		<!-- Furret.css Stylesheets -->
		<link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet" />
		<link href="/dark.min.css"
			rel="stylesheet" type="text/css" />
		<link href="/highlightjs/tokyo-night.css" rel="stylesheet"
			type="text/css" />

		<link href="/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<nav>
			<header>Navigation:</header>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/service/chan0">Channel 0</a></li>
				<li><a href="/service/chat">Chat</a></li>
			</ul>
		</nav>
		<%- body %>
			<footer>
				Made with &#10084; by <a href="https://replit.com/@PotentialStyx">@PotentialStyx</a>
			</footer>

			<script type="module" src="/script.js" id="highlighting-script"></script>
		</body>

	</html>