<h1>Clippy Middleware</h1>

<p>
	Clippy injects configurable messages whenever a certain regex matches an
	outgoing message from it's wrapped service. Clippy is used to give client's
	hints about common error messages.
	<br />
	Known services that use clippy include:
</p>
<ul>
	<li><a href="/service/run">run</a></li>
	<li><a href="/service/eval">eval</a></li>
	<li><a href="/service/interp">interp</a></li>
</ul>
<p>
	Info from the
	<a href=" https://crosis.turbio.repl.co/services#clippy"
		>old developer docs</a
	>.
</p>
