<h1>Termed Middleware</h1>

<p>
	The termed middleware provides the wrapped service with a PTY. Sending the
	messages <code>resizeTerm</code> or <code>saneTerm</code> will poke said
	pty.
	<br />
	Any service that uses a pty gets it from this middleware.
</p>
<p>
	Info from the
	<a href=" https://crosis.turbio.repl.co/services#termed"
		>old developer docs</a
	>.
</p>
